ppcoind_path: ppcoind
ppcoind_account: ""
amount_per_request: 0.1
minimum_confirmations: 3
request_time_frame_duration: 1 hour
time_between_request_fulfilling: 30 minutes
secret: GENERATE A SECRET WITH "rake secret" AND PASTE IT HERE
captcha: true
recaptcha:
  public_key: YOUR RECAPTCHA PUBLIC KEY
  private_key: YOUR RECAPTCHA PRIVATE KEY
tracking_code: >
  <!-- REPLACE WITH YOUR TRAFFIC TRACKING CODE -->
canonical_host: 
donation_request_url: 
explorer_url: http://ppc.cryptocoinexplorer.com/address/{{ADDRESS}}
